#cuadro-1 {
    background-color: yellow;
}

#cuadro-2 {
    background-color: blue;
}

#cuadro-3 {
    background-color: red;
}

#cuadro-4 {
    background-color: green;
}

.cuadro {
    width: 100%;
    height: 300px;
    opacity: 0.5;
    transition: opacity 500ms;
}

body{
    background-color: rgb(167, 141, 149);
}
